@keyframes scaleIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.animasi {
    animation: scaleIn 1s ease-out;
}
.animasi-05 {
    animation: scaleIn 0.5s ease-out;
}